body {
    background: #f1f1f1;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    padding: 10px 10px;
    z-index: 1000;
    background-color: transparent;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px; 
}
.header.scrolled {
    background-color: #162144; /* fundo escuro semi-transparente */
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
ul,li,a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
a:hover {
    color: #999ab4;
}
.cadastro {
    margin-left: 31%;
    border-radius: 50px;
    border: 2px solid #fff;
    background: none;
    padding: 0 15px 4px 10px;
}
.cadastro:hover {
    color: #999ab4;
    border-color: #999ab4;
}
.logo {
    border-radius: 50%;
    width: 50px;
    margin: 10px -40px 10px 20px ;
}
.banner{
    width: 1265px;
}

/* Meio */
.meio {
    margin: 90px 0px 0px 12px;   
}
.titulos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #162144;
    text-align: center;
    margin-bottom: 50px;
}

.titulos h3 {
    margin-bottom: -20px;
    color: #53596b;
}

.imgs img {
    display: inline-block;
    width: 400px;
    margin-left: 8px;
    margin-right: 8px;
}

.veja {
    margin-top: 20px;
    margin-left: 36%;
    border-radius: 50px;
    border: 2px solid #162144;
    background: none;
    padding: 0 15px 4px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;

}

.veja:hover {
    border: 2px solid #999ab4;
}

.veja-a {
    color: #162144;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
}

.veja-i {
    color: #162144;
}

.veja-i:hover {
    color: #999ab4;
} 
/* Sobre */

.sobre {
    color: #162144;
    margin-left: 39.2%;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 54px;
}
.sobreimg{
    width: 1200px;
    margin-left: 3%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(22, 33, 68, 0.158);
}

.sobre-p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: larger;
    text-align: center;
    margin: 30px 80px 0px 80px;
}
/* Depoimentos */
.depoimentos {
    text-align: center;
    color: #53596b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 70px;
    font-size: 54px;
}

.depo-p {
    color: #162144;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    background: #f2f2f3;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(22, 33, 68, 0.199);
    padding: 8px;
    width: 400px;
    height: 250px;
    margin: 30px 0 20px 10px;
}

.box-t {
    text-align: center;
    margin-top: 10px;
}

.stars {
    margin-left: 34%;
    margin-top: -30px;
    font-size: 20px;
}

.box-p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 3px;
    margin-top: -20px;
}

.box-1, .box-4 {
    margin-left: 12px;
}

.box-3, .box-6 {
    margin-right: 10px;
}

/* Contato */

.contato {
    text-align: center;
    color: #162144;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 70px;
    font-size: 54px;
}

.cont-p {
    color: #162144;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}

form {
    background: #f2f2f3;
    box-shadow: 0 0 20px 0 rgba(83, 89, 107, 0.329);
    border-radius: 20px;
    padding: 40px 15px 60px 35px;
    margin: 40px 460px 50px 460px;
}

/* form:hover {
    background: linear-gradient( #162144, #213166, #2b4085);
    
} */

label {
    color: #53596b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}


input{
    border-radius: 15px;
    border: 2px solid #53596b ;
    display: inline-block; 
    padding: 5px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.texto {
    margin-top: 15px;
    padding: 10px 70px 50px 10px;
}

.enviar {
    border-radius: 15px;
    border: 2px solid #53596b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    color: #53596b;
    margin: 10px 60px;
    padding: 0px 50px 0px 50px;
}

/* Footer */

footer {
    background: #162144;
    width: 100%;
    padding: 10px;
}

.marca {
    color: #646c83;
    text-align: center;
    margin-top: 30px;
}

.marca:hover {
    color: #fff;
}

.icon {
    text-align: center;
}

.footer-i {
    color: #646c83;
    font-size: 25px;
    display: inline-block;
    margin-top: 30px;
}

.footer-i:hover {
    color: #fff;
}

.footer-p {
    display: inline-block;
}

.direitos {
    color: #646c83;
    text-align: center;
}

/* CSS Mobiles */

@media (min-width: 375px) {
/* Header */
.header {
    background-color: #162144;
    width: 100%;
}

nav {
    display: inline-block;
}

ul,li,a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.logo {
    width: 0px;
}

.cadastro {
    border-radius: 50px;
    border: 2px solid #fff;
    background: none;
    padding: 0 15px 4px 10px;
    margin-bottom: 10px;
}

.banner{
    display: none;
}

/* Meio */

.titulos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #162144;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 200px;
}

.titulos h3 {
    margin-bottom: -20px;
    color: #53596b;
}

.imgs img {
    display: inline-block;
    width: 300px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.veja {
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 50px;
    border: 2px solid #162144;
    background: none;
    padding: 0 15px 4px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 8px;
}
 
/* Sobre */

.sobre {
    color: #162144;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 39px;
}
.sobreimg{
    width: 350px;
    margin-left: 3.5%;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(22, 33, 68, 0.158);
}

/* Depoimentos */
.depoimentos {
    text-align: center;
    color: #53596b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 70px;
    font-size: 39px;
}

.depo-p {
    color: #162144;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    background: #f2f2f3;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(22, 33, 68, 0.199);
    padding: 8px;
    width: 400px;
    height: 250px;
    margin: 30px 10px 20px 10px;
}

/* Contato */

.contato {
    text-align: center;
    color: #162144;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 70px;
    font-size: 39px;
}

.cont-p {
    color: #162144;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

form {
    background: #f2f2f3;
    box-shadow: 0 0 20px 0 rgba(83, 89, 107, 0.329);
    border-radius: 20px;
    padding: 40px 15px 60px 35px;
    margin: 40px 10px 50px 10px;
}

.texto {
    margin-top: 15px;
    padding: 10px 70px 50px 10px;
}

.enviar {
    border-radius: 15px;
    border: 2px solid #53596b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    color: #53596b;
    margin: 10px 60px;
    padding: 0px 50px 0px 50px;
}

/* Footer */

footer {
    background: #162144;
    width: 100%;
    padding: 10px;
}

.marca {
    color: #646c83;
    text-align: center;
    margin-top: 30px;
}

.marca:hover {
    color: #fff;
}

.icon {
    text-align: center;
}

.footer-i {
    color: #646c83;
    font-size: 25px;
    display: inline-block;
    margin-top: 30px;
}

.footer-i:hover {
    color: #fff;
}

.footer-p {
    display: inline-block;
}

.direitos {
    color: #646c83;
    text-align: center;
}
}

@media (min-width: 430px) {
    .imgs {
        margin: 10px 10px 10px 10px;
    }
}